h5{
    background-color: #22529a;
  }
  h4{
    background-color: #ef972e;
  }
  h2{
    background: #E6E6E6; text-align: center; color: #22529a;
  }
  h1{
    background: #E6E6E6; color: #22529a; text-align: center;
}

h2{
   background: #E6E6E6; text-align: center; color: #22529a;
 }
 h3{

   text-align: center;
   color: #22529a; background: #E6E6E6;
   font-size: 20px;
 }
 h6{
   text-align: center;
    color: #22529a; background: #E6E6E6;
    font-size: 20px; 
 }
