h1{
    background: #E6E6E6; color: #22529a; text-align: center;
}
img{
    float:  center;
}
h5{
  background-color: #22529a;
}
h4{
  background-color: #ef972e;
}
form{
    text-align: center;
}
div{
    text-align: center;
}
h6{
    font-size: 20px; text-align: center; 
  }