h5{
    background-color: #22529a;
  }
  h4{
    background-color: #ef972e;
  }
  img{
    text-align: center;
  }
  h2{
    background: #E6E6E6; text-align: center; color: #22529a;
  }
  div{
    text-align: center;
  }
  h6{
    font-size: 20px; text-align: center; 
  }
  